:root{
    /*----------------Typography------------------*/
    /*Size*/
    --body-font-size:1.65rem;
    --navitem-font-size:1.4rem;
    --card-desc-font-size:1.25rem;
    --card-title-font-size:1.65rem;
    
    /*Family*/
    --font-family: "IBM Plex Sans", serif;
    
    /*Weight*/
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --light: 300;


    /*---------------Color-----------------------*/
    /*Light theme*/
    --text-color-regular: black;
    --text-color-light: #202020;
    --text-color-extra-light: #404040;
    --text-color-highlight: dodgerblue;
}

/*----------------Desktop, Tablet-------------*/
body{
    font-family: var(--font-family);
    font-weight: var(--regular);
    font-style: normal;
    padding: 10%;
}

.top-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:5em;
}

.page-title{
    display: flex;
    flex-grow: 1;
    align-items:center;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.name-and-greeting{
    display: flex;
    flex-direction: column;
}

#avatar{
    width:110px;
    padding-right: 2%;
}

.name{
    text-decoration: none;
    color: var(--text-color-regular);
    font-size: 1.625rem;
}

.name:hover{
    color: var(--text-color-regular);
}

.greeting{
    font-size: 1.25rem;
    color: var(--text-color-extra-light);
    padding-top: 2%;
}

.nav-items{
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav-items a{
    font-size: var(--navitem-font-size);
    color: var(--text-color-light);
    text-decoration: none;
    border-bottom: 1px dotted var(--text-color-light)
}

.nav-items a:hover{
    color:var(--text-color-highlight)
}

.body-text{
    font-size: var(--body-font-size);
    padding-bottom: 6%;
}

.seperator{
    padding-bottom: 6%;
}

.portfolio-header{
    font-size: var(--navitem-font-size);
    font-weight: var(--semibold);
    color:var(--text-color-light);
    padding-bottom: 2%;
}

.projects-container{
    padding-top:4%;
}

.project-card{
    display: flex;
    background-image: url("assets/img/card-background.svg");
    background-size: 100% auto;
    padding: 2em;
    justify-content: space-between;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 2em #A0A0A0;
    flex-wrap: wrap;
}

.project-images{
    display: flex;
    width: 25%;
    gap:2em;
}

.project-icons{
    width: 10%;
    max-height: 40%;
}

.project-screen{
    max-width: 200px;
}

.project-content{
    width:65%;
}

.project-title{
    font-size: var(--card-title-font-size);
    font-weight: var(--regular);
}

.project-desc{
    font-size: var(--card-desc-font-size);
    margin-top: -0.6em;
    margin-bottom: 2em;
}

.project-tech-title{
    font-size: 1.4rem;
    font-weight: var(--regular);
}

.project-tech{
    margin-top: -0.5em;
    font-size: var(--card-desc-font-size);
    color:rgb(19, 79, 139);
    margin-bottom:2em;
}

.project-links-btn{
    display: flex;
    padding: 2% 4%;
    align-items: center;
    justify-content: space-between;
    border:none;
    border-radius: 2em;
    color:white;
    background-color: dodgerblue;
    gap: 1em;
}