body{
    background-color:lightgrey
}

.page_text{
    font-family:'Times New Roman', Times, serif;
}

#dynamic_text:hover{
    color:darkmagenta;
    cursor:crosshair;
}

#dynamic_text{
    color:darkblue;
    text-decoration: dotted underline;
    font-style: italic;
}